#channels(ng-controller = 'ControlsController')
	.well(style = 'padding: 8px 0')
		ul.nav.nav-list(ng-repeat = "group in channels")
			li.nav-header {{ group.group_name }}
				//a(ng-href = "/feed/group/ + {{group.") {{ name }}
			li(ng-repeat = 'chan in group.channels')
				a(ng-href = "{{'/feed/' + chan.id}}", ng-click = "loadChan(chan.title)")
					.chan-wrap
						.text-truncate.chan-title.pull-left {{ chan.title }}
						span.badge.badge-important.pull-right {{ chan.unread_count }}
