.fluid-container#feed-body
	.row-fluid(infinite-scroll = 'nextPage()', infinite-scroll-disabled = 'busy', infinite-scroll-distance = '1')
		feedList
			feedItem(ng-repeat = 'feed in feeds | unread')
				h2
					a(ng-href = "{{feed.link}}") {{ feed.title }}
				div(ng-bind-html-unsafe = "feed.description")
				div
					span {{ feed.published | date }}
					span read
					input(type = "checkbox", ng-model = "feed.read")