@import "/vendor/styles/bootstrap/bootstrap.less";

@import "/vendor/styles/fontawesome/font-awesome.less";

body {
	padding-top: 40px;
	position: relative;
}

#content {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
}

#channels {
	width: 230px;
	overflow: hidden;
	position: fixed;

	top: 40px;
	left: 0;

	padding-left: 10px;
	padding-top: 10px;
}

#feed-container {
	position: absolute;
	overflow-y: auto;

	right: 0;
	left: 250px;

	padding-right: 10px;
	padding-top: 10px;
}

.feed-selected {
	border-style: solid;
	border-color: red;
	border-width: 3px;
}

.feed-outer {
	padding-top: 50px;
	margin-top: -50px;
}

.feed-item {
}

.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0;
}

}