!!! 5

html(lang = 'en', ng-app = 'recess')
	head
		meta(charset = 'utf-8')
		base(href = "/")

		script(src = "/js/vendor.js")
		script(src = "/js/app.js")

		link(rel = "stylesheet", href = "/css/app.css")

		title(ng-bind = "pageTitle")

	body
		ng-include(src = "'/partials/nav.html'")
		div#content
			ng-include(src = "'/partials/controls.html'")
			.fluid-container
				.row-fluid
					#main(ng-view)

